<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Histórias</title>
</head>
<body>
    <div class="top-style">
    <header>Histórias</header>
    <nav>
        <section>
            <ul>
                <li><a href="index.html">Página Principal</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </section>
    </nav>
    </div>
    <main>
        <div class="data-container">
        <form id="cadastroForm">
            <h2>Insira seus dados para cadastro</h2>
        <div class="input-container">
            <input type="text" name="nome" placeholder="Insira seu nome" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-container">
            <input type="text" name="email" placeholder="Insira seu email" required>
            <i class='bx bx-envelope'></i>
        </div>
        <div class="input-container">
            <input type="password" name="senha" placeholder="Insira sua senha" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <button class="btn" type="submit">Cadastrar</button>
        </form>
        </div>
    </main>
    <footer>
        <p>Histórias &copy; 2024</p>
    </footer>
</body>
</html>