<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title>Histórias</title>
</head>
<body>
    <div class="top-style">
    <header>Histórias</header>
    <nav>
        <ul>
            <li><a href="alterar.html">Alterar Senha</a></li>
            <li><a href="remover.html">Remover Sua Conta</a></li>
            <li><button type="submit" class="logout-btn">Logout</button></li>
        </ul>
    </nav>
    </div>
    <main>
        <div class="search-container">
        <form>
            <input type="text" placeholder="Procure uma história">
            <button type="submit" aria-label="Pesquisar"><i class='bx bxs-search-alt-2'></i></button>
        </form>
        </div>
    </main>
    <footer>
        <p>Histórias &copy; 2024</p>
    </footer>
</body>
</html>