<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Histórias</title>
</head>
<body>
    <div class="top-style">
    <header>Histórias</header>
    <nav>
        <section>
            <ul>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </section>
    </nav>
    </div>
    <main class="index-main">
        <h1>Seja bem-vindo(a) ao Histórias!</h1>
        <h4>Mostre as suas melhores histórias aqui!</h4>
    </main>
    <footer>
        <p>Histórias &copy; 2024</p>
    </footer>
</body>
</html>